<h1>
    Weather App
</h1>
<hr>


<input type="text" [(ngModel)]="cityName">
<button (click)="searchCity()"> Search </button>
 
<div *ngIf="cityHumidity">
 <li> <b>Humidity {{cityHumidity}} %</b> :{{cityDescription}}
<div>